body {
	background-color: #add8e6;
	color: black;   
	border: 2px solid;
	border-color: black;                                                                
}

img{
  	border: 2px solid;
	border-color: black;
}

